[user]
	name = Byron Smith
	email = me@byronjsmith.com
[github]
	user = bsmith89
[push]
	default = simple
[color]
	branch = auto
	diff = auto
	status = auto
[color "diff"]
	meta = blue bold
# Based on
# http://tex.stackexchange.com/questions/1325/using-latexdiff-with-git
#[difftool.latex]
#	cmd = git-latexdiff "$LOCAL" "$REMOTE"
#[difftool]
#	prompt = false
#[alias]
#	latexdiff = difftool -t latex
[core]
	attributesfile = $HOME/.gitattributes
	pager = less -x4
[rerere]
	enabled = true
	autoupdate = true
[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit -n 20
	wdiff = diff --color-words
	s = status -uno
	ls-other = ls-files --other --exclude-standard
	grep-other = !git ls-other | git grep -f -
	diff-cached = diff --cached
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
